In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/Sasi Kumar/Desktop/BL-Flickr-Images-Book.csv')
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [3]:
#Changing the index of a DataFrame
df['Identifier'].is_unique

True

In [4]:
#replace the existing index with this column using set_index
df = df.set_index('Identifier')
df.head()

,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,,,,,,,
206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [5]:
#accessing each record in a straightforward way with loc[]
df.loc[206]

Edition Statement                                                       NaN
Place of Publication                                                 London
Date of Publication                                             1879 [1878]
Publisher                                                  S. Tinsley & Co.
Title                                     Walter Forbes. [A novel.] By A. A
Author                                                                A. A.
Contributors                                                FORBES, Walter.
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                                British Library HMNTS 12641.b.30.
Name: 206, dtype: object

In [6]:
df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [7]:
#running regex across our dataset
extr= df['Date of Publication'].str.extract(r'^(\d{4})', expand = False)
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [8]:
#converting object dtype into numerical version
df['Date of Publication']= pd.to_numeric(extr)
df['Date of Publication'].dtype

dtype('float64')

In [9]:
df['Date of Publication'].isnull().sum()
print(df)

                       Edition Statement      Place of Publication  \
Identifier
206                                  NaN                    London
216                                  NaN  London; Virtue & Yorston
218                                  NaN                    London
472                                  NaN                    London
480         A new edition, revised, etc.                    London
...                                  ...                       ...
4158088                              NaN                    London
4158128                              NaN                     Derby
4159563                              NaN                    London
4159587                              NaN       Newcastle upon Tyne
4160339                              NaN                    London

            Date of Publication                Publisher  \
Identifier
206                      1879.0         S. Tinsley & Co.
216                      1868.0             Virtue & Co.
218                      1869.0    Bradbury, Evans & Co.
472                      1851.0            James Darling
480                      1857.0     Wertheim & Macintosh
...                         ...                      ...
4158088                  1838.0                      NaN
4158128                  1831.0          M. Mozley & Son
4159563                     NaN  T. Cadell and W. Davies
4159587                  1834.0         Mackenzie & Dent
4160339                  1834.0                      NaN

                                                        Title  \
Identifier
206                         Walter Forbes. [A novel.] By A. A
216         All for Greed. [A novel. The dedication signed...
218         Love the Avenger. By the author of “All for Gr...
472         Welsh Sketches, chiefly ecclesiastical, to the...
480         [The World in which I live, and my place in it...
...                                                       ...
4158088     The Parochial History of Cornwall, founded on,...
4158128     The History and Gazetteer of the County of Der...
4159563     Magna Britannia; being a concise topographical...
4159587     An historical, topographical and descriptive v...
4160339     Collectanea Topographica et Genealogica. [Firs...

                                                       Author  \
Identifier
206                                                     A. A.
216                                                 A., A. A.
218                                                 A., A. A.
472                                                 A., E. S.
480                                                 A., E. S.
...                                                       ...
4158088                    GIDDY, afterwards GILBERT, Davies.
4158128                            GLOVER, Stephen - of Derby
4159563     LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
4159587                                 Mackenzie, E. (Eneas)
4160339                                                   NaN

                                                 Contributors  \
Identifier
206                                           FORBES, Walter.
216              BLAZE DE BURY, Marie Pauline Rose - Baroness
218              BLAZE DE BURY, Marie Pauline Rose - Baroness
472                               Appleyard, Ernest Silvanus.
480                                       BROOME, John Henry.
...                                                       ...
4158088     BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...
4158128                                        NOBLE, Thomas.
4159563              GREGSON, Matthew.|LYSONS, Samuel - F.R.S
4159587                                  ROSS, M. - of Durham
4160339               BANDINEL, Bulkeley.|Nichols, John Gough

            Corporate Author  Corporate Contributors Former owner  Engraver  \
Identifier
206                      NaN                     NaN          NaN       NaN
216                      NaN                     NaN          NaN       NaN
218                      NaN                     NaN          NaN       NaN
472                      NaN                     NaN          NaN       NaN
480                      NaN                     NaN          NaN       NaN
...                      ...                     ...          ...       ...
4158088                  NaN                     NaN          NaN       NaN
4158128                  NaN                     NaN          NaN       NaN
4159563                  NaN                     NaN          NaN       NaN
4159587                  NaN                     NaN          NaN       NaN
4160339                  NaN                     NaN          NaN       NaN

           Issuance type                                         Flickr URL  \
Identifier
206          monographic  http://www.flickr.com/photos/britishlibrary/ta...
216          monographic  http://www.flickr.com/photos/britishlibrary/ta...
218          monographic  http://www.flickr.com/photos/britishlibrary/ta...
472          monographic  http://www.flickr.com/photos/britishlibrary/ta...
480          monographic  http://www.flickr.com/photos/britishlibrary/ta...
...                  ...                                                ...
4158088      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4158128      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4159563      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4159587      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4160339       continuing  http://www.flickr.com/photos/britishlibrary/ta...

                                                   Shelfmarks
Identifier
206                         British Library HMNTS 12641.b.30.
216                         British Library HMNTS 12626.cc.2.
218                         British Library HMNTS 12625.dd.1.
472                       British Library HMNTS 10369.bbb.15.
480                          British Library HMNTS 9007.d.28.
...                                                       ...
4158088     British Library HMNTS|British Library HMNTS 10...
4158128     British Library HMNTS|British Library HMNTS 10...
4159563     British Library HMNTS|British Library HMNTS 19...
4159587     British Library HMNTS|British Library HMNTS 10...
4160339     British Library HMNTS|British Library HMNTS 79...

[8287 rows x 14 columns]

In [10]:
#Combining str Methods with Numpy to Clean Columns
df['Place of Publication'].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

In [11]:
df.loc[4157862]

Edition Statement                                                       NaN
Place of Publication                                    Newcastle-upon-Tyne
Date of Publication                                                  1867.0
Publisher                                                        T. Fordyce
Title                     Local Records; or, Historical Register of rema...
Author                        FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Contributors               SYKES, John - Bookseller, of Newcastle-upon-Tyne
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                British Library HMNTS|British Library HMNTS 01...
Name: 4157862, dtype: object

In [12]:
df.loc[4159587]

Edition Statement                                                       NaN
Place of Publication                                    Newcastle upon Tyne
Date of Publication                                                  1834.0
Publisher                                                  Mackenzie & Dent
Title                     An historical, topographical and descriptive v...
Author                                                Mackenzie, E. (Eneas)
Contributors                                           ROSS, M. - of Durham
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                British Library HMNTS|British Library HMNTS 10...
Name: 4159587, dtype: object

In [13]:
#To clean this column in one sweep, we can use str.contains() to get a Boolean mask
pub= df['Place of Publication']
london = pub.str.contains('London')
london[:5]

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [14]:
oxford = pub.str.contains('Oxford')
oxford[:5]

Identifier
206    False
216    False
218    False
472    False
480    False
Name: Place of Publication, dtype: bool

In [16]:
df['Place of Publication']= np.where(london, 'London', np.where(oxford, 'Oxford',pub.str.replace('-',' ')))
df['Place of Publication'].head()

Identifier
206    London
216    London
218    London
472    London
480    London
Name: Place of Publication, dtype: object